<%- include('./partials/header.ejs'); -%>
<h1>Hello!</h1>
<p><%=startingContent%></p>
<% console.log(posts);%>

<%posts.forEach(el => console.log(el.title))%>

<%- include('./partials/footer.ejs'); -%>
